{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- This is for home page -->
        <div class="container">
            {% for product in product_list %}
            <div class="card">
                <div class="card-img">
                    <img src="{{product.pic}}" alt="">
                </div>
                <div class="card-text">
                    <h3>{{product.name}}</h3>
                    <h5>Price : <ins>{{product.price}}</ins></h5>
                    <h7>Stock : {{product.stock}}</h7>
                    <p>
                        {{product.desc}}
                    </p>
                    <button>Add to cart</button>
                </div>
            </div>
            {% endfor %}
        </div>
<!-- home page code ends -->
 {% endblock %}