{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h1>welcome</h1>
    <div class="container-fluid">
      <table class="table" data-bs-theme="dark" bg-dark>
        <thead>
          <th>ID</th>
          <th>NAME</th>
          <th>PRICE</th>
          <th>PIC</th>
          <th>Picture</th>
          <th>STOCKS</th>
          <th>DESCRIPTION</th>
          <th></th>
        </thead>
        <tbody>
          {% for product in product_list %}
          <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.pic}}</td>
            <td><img src="{{product.pic}}" height="20px"></td>
            <td>{{product.stock}}</td>
            <td>{{product.desc}}</td>
            <td><button class="btn btn-primary">Add T Cart</button></td>
          </tr>
          {% endfor %}
        </tbody>

      </table>

    </div>
    <div class="container-fluid video-box">
      <video src="{% static 'image/intro/about.mp4' %}" controls muted autoplayloop>
        <source src="{% static 'image/intro/about.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <body>
      <div class="container">
       {% for product in product_list %}
        <div class="card" style="width: 18rem;">
          <img src="{{product.pic}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.desc}}</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
{% endfor %}     
      </div>
    </body>
    {% endblock %}