{% extends 'base.html' %} 
{% block title %} 
{{ prod.name }} 
{% endblock %} 
    {% block content %}
    <div class="row">
      <div class="col-sm-6">
        <img src="{{prod.pic.url}}" class="w-100 h-100" alt="" />
      </div>
      <div class="col-sm-6">
        <div class="row">
          <h1>{{ prod.name }}</h1>
          <p>Rs.{{ prod.price }}</p>
        </div>
        <div class="row">
          {% if user.is_staff %}
          <a href="{% url 'edit_prod' prod.pk %}" class="btn btn-secondary"
            >Edit Product</a
          >
          <a href="{% url 'del_prod' prod.pk %}" class="btn btn-secondary"
            >Delete to Cart</a
          >
          {% else %}
          <a href="" class="btn btn-secondary">Add to Cart</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endblock %}