* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



    body{
        background: lightblue;
        header {
          height: 50px;
          margin-bottom: 100px;
          nav {
              height: 100%;
              div,container-fluid {
                  height: 100%;
      
              }
          }
        }  
        main {
            h1 {
            /* background-color: aqua; */
            margin-top: 50px;
            text-align: center;
            }
            div.video-box {
                display: flex;
                justify-content: center;
                height: 400px;
            }
            
        }
      }

