* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    body{
        header {
          height: 50px;
          nav {
              height: 100%;
              div,container-fluid {
                  height: 100%;
      
              }
          }
        }  
      }
}
